@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

/* Nav */

nav {
  height: 80px;
  background: rgb(20, 20, 20);
  color: rgb(220, 220, 220);
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.logo h2 {
  font-style: italic;
  color: rgb(0, 206, 206);
  cursor: pointer;
}
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.overview {
  display: flex;
  margin: 0;
  padding: 0;
}
nav li {
  list-style: none;
  margin: 0 20px;
}
nav a {
  text-decoration: none;
  color: rgb(220, 220, 220);
}
nav a:hover {
  color: #a0ebfd;
}
nav a::after {
  content: "";
  display: block;
  height: 3px;
  background: #a0ebfd;
  width: 0%;
  transition: all ease-in-out 300ms;
}
nav a:hover::after {
  width: 100%;
}
#check,
.menu {
  display: none;
}

/* Responsive */
@media (max-width: 750px) {
  .nav-items {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    justify-content: space-evenly;
    background: rgb(20, 20, 20);
    padding: 2rem;
    right: -450px;
    transition: all ease-in-out 800ms;
  }
  .overview {
    flex-direction: column;
    width: auto;
    margin: 0;
  }
  nav li {
    margin: 1rem 0;
    text-align: center;
  }
  nav a {
    display: inline-block;
  }
  nav a:hover {
    transition: all ease-in-out 300ms;
  }
  .menu {
    display: inline-block;
    position: fixed;
    right: 10px;
    z-index: 1;
  }
  #check:checked ~ .nav-items {
    width: 100%;
    right: 0;
  }
}
