@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #181b1f;
}


/* Background Video */

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -2;
  overflow: hidden;
  object-fit: cover;
  filter: brightness(0.5);
}

.bg-video-before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, transparent, #181b1f);
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .bg-video video {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .bg-video video {
    width: auto;
    height: 100%;
  }
}


/* NAVBAR */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
}

.navbar-brand img {
  width: 120px;
  height: auto;
}

.hamburger {
  display: block;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease;
}

.hamburger-fade {
  opacity: 0;
  transform: scale(0.8);
  transform: rotateX(90deg);
}

.navbar-nav li a {
  font-size: 20px;
  text-decoration: none;
}

.navbar .dropdown-menu {
  width: 100%;
  background-color: #31373d;
  border: none;

  li a {
    color: grey;
  }
  li a:hover {
    color: #212529;
  }
}

.navbar .navbar-toggler:focus, .navbar .navbar-toggler:active {
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    background-color: #212529;
  }
}


/* HEADER */

.title {
  animation: floatUp 0.8s ease-out;
}

.header .sub-title {
  font-weight: 400;
  font-size: 18px;
  animation: floatUp 0.8s ease-out;
}

.cta {
  animation: floatUp 0.8s ease-out;
}

.cta a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
}

.cta .btn:active {
  box-shadow: none;
}

@keyframes floatUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  .header .title {
    font-size: 44px;
  }
  .header .sub-title, .cta a {
    font-size: 14px;
  }
}


/* ABOUT US */