@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+Sinhala:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=DM+Serif+Display:ital@0;1&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Noto+Sans+Sinhala:wght@100..900&display=swap');

:root {
    --text-color: #fdfdff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-image: url('assets/bg.png');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}



/* HERO */

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-wrap {
    position: relative;
    z-index: 1;
    text-align: center;
    color: var(--text-color);
}

.hero-title {
    font-size: 72px;
    font-weight: 500;
    margin-bottom: 20px;
    animation: floatUp 1s ease-out;
}

.hero-subtitle {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 60px;
    animation: floatUp 1s ease-out;
}

.hero-cta {
  font-size: 16px;
  padding: 14px 48px;
  color: #fff;
  background-color: rgba(240, 169, 230, 0.2);
  border: 1px solid rgba(237, 242, 247, 0.6);
  border-radius: 14px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.4s;
  cursor: pointer;
  animation: floatUp 1.2s ease-out;
}
.hero-cta:hover {
  transform: translate(0, -4px);
  border: 1px solid rgb(237, 242, 247);
}



/* SUB-PROJECT CARD DESIGN */

.card {
    height: 350px;
    text-decoration: none;
    background-color: rgb(201, 248, 250);
    box-shadow: 0 24px 64px rgba(29, 25, 32, 0.3);
    border-radius: 32px;
    border: none;
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.4s ease-out;
}

#learning-portal-card .card {
    background-image: url('assets/card-bg-learning-portal.png');
}
#art-trivia-card .card {
    background-image: url('assets/card-bg-art-trivia.png');
}
#art-papers-bot-card .card {
    background-image: url('assets/card-bg-art-papers-bot.png');
}
#quizzard-card .card {
    background-image: url('assets/card-bg-quizzard.png');
}
#edvision-card .card {
    background-image: url('assets/card-bg-edvision.png');
}

.card:hover {
    text-decoration: none;
    transform: translate(0, -4px);
}

.card-body {
    display: flex;
    flex-direction: column;
    gap: 18px;
    filter: drop-shadow(0 24px 48px rgba(0, 0, 0, 0.9));
}

.card-title {
    font-size: 48px;
    font-weight: 500;
    color: var(--text-color);
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* CARD ARROW */

.card-arrow {
    padding: 0;
    margin: 0 32px;
    font-size: 48px;
    color: var(--text-color);
    opacity: 0;
    transition: all 0.6s ease-out;
}
.card:hover .card-arrow {
    opacity: 1;
    transition: all 0.6s ease-out;
    animation: floatLeft 0.6s ease-out;
}
.card:not(:hover) .card-arrow {
    transition: all 0.6s ease-out;
    transform: translate(-15px);
}

.card-text {
    font-size: 18px;
    font-weight: 300;
    color: var(--text-color);
}


/* CARD ICON */

.card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-icon img {
    width: 300px;
    height: auto;
    padding: 0;
    filter: drop-shadow(0 24px 64px rgba(71, 25, 100, 0.4));
    transition: all 0.4s ease-out;
}

.card:hover .card-icon img {
    transform: rotate(-1deg) scale3d(1.05, 1.05, 1.05);
}

@keyframes floatUp {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }















/* NAVBAR */

.navbar-light .navbar-nav .nav-link {
    color: #000;
}

#preloder {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: #ffffff;
    display: flex;
    /* Center loader */
    align-items: center;
    justify-content: center;
}

.loader {
    width: 40px;
    height: 40px;
    border-radius: 60px;
    animation: loader 0.8s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
        border: 4px solid #0FBD66;
        border-left-color: transparent;
    }
    50% {
        transform: rotate(180deg);
        border: 4px solid #525252;
        border-left-color: transparent;
    }
    100% {
        transform: rotate(360deg);
        border: 4px solid #0FBD66;
        border-left-color: transparent;
    }
}

.swiper {
    height: 80vh;
    width: 100%;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 130%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: 41px;
    font-weight: 300;
}

.swiper-slide .subtitle {
    font-size: 21px;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.navbar {
    position: fixed;
    width: 100%;
    animation: animatetop 1.4s;
    z-index: 1000;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    background: rgba(255, 255, 255, 0.1);
}

@keyframes animatetop {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}