/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@100..900&display=swap');

/* IMPORT NAVIGATION STYLES */
@import '/StaticWeb/elements/navbar/navbar.css';
@import '/StaticWeb/elements/footer/footer.css';

/* IMPORT ELEMENT STYLES */
@import '/StaticWeb/elements/lesson-styles/back-arrow.css';
@import '/StaticWeb/elements/lesson-styles/background.css';
@import '/StaticWeb/elements/lesson-styles/breadcrumb.css';
@import '/StaticWeb/elements/lesson-styles/content-table.css';
@import '/StaticWeb/elements/lesson-styles/hero.css';
@import '/StaticWeb/elements/lesson-styles/image-section.css';
@import '/StaticWeb/elements/lesson-styles/lists.css';
@import '/StaticWeb/elements/lesson-styles/main-image.css';
@import '/StaticWeb/elements/lesson-styles/related-links.css';
@import '/StaticWeb/elements/lesson-styles/scrollbar.css';
@import '/StaticWeb/elements/lesson-styles/texts.css';

/* ROOT VARIABLES */
:root {
  --color-white: #ffffff;
  --color-grey: grey;
  --color-dark-grey: #31373d;
  --color-darker-grey: #212529;
  --color-light-grey: #dcdddf;
  --color-background: #fcfcfc;
  --color-primary: #ff9900;
  --color-primary-light: #ffcc80;
  --color-primary-dark: #995c00;

  --_mesh-gradient-blur: 100px;
  --_mesh-gradient-blend-mode: screen;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Abhaya Libre', sans-serif;
}


/* HEADER */

.lesson-hero {
  background-image: url(header.jpg);
  background-position: top center;
}

/* MAIN CONTENT*/

.main-content {
  width: 75%;
  margin: 0 auto;
  font-size: 1.15rem;
}

@media (max-width: 600px) {
  .main-content {
    font-size: 1rem;
  }
}

@keyframes floatUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}