@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Sinhala:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root {
  --primary-color: #212529;
  --secondary-color: #31373d;
  --background-color: #ebe2ec;
  --text-color: white;
  --hover-color: #212529;
  --btn-background-color: #d2ccd3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  background-color: #e2e6ec;
}


/* Background Image */

.bg-image {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(assets/background.png);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.9;
}

/* HEADER */

.select-grade-header h4 {
  font-size: 18px;
  font-weight: 300;
  color: #d0bde9;
  text-align: center;
  margin-top: 68px;
  animation: floatUp 0.8s ease-out;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.select-grade-header  h1 {
  font-size: 48px;
  color: #d0bde9;
  text-align: center;
  margin-top: 24px;
  animation: floatUp 0.9s ease-out;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


/* CARD DESIGN */

.card {
  min-height: 180px;
  padding: 4px 10px 0 18px;
  text-decoration: none;
  background-color: rgba(182, 181, 197, 0.2);
  border-radius: 32px;
  border: 1px solid transparent;
  backdrop-filter: blur(24px);
  box-shadow: 0 12px 48px rgba(29, 30, 31, 0.1);
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.4s ease-out;
  animation: floatUp 1s ease-out;
}
.card:hover {
  transform:scale(1.01);
  border: 1px solid rgba(225, 206, 252, 0.3);
}

.card-body {
  font-family: 'Abhaya Libre', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
}

/* CARD TITLES */

.card-body .card-title {
  font-size: 28px;
  font-weight: 500;
  color: #e1d9eb;
}
.card-body .card-subtitle {
  font-size: 20px;
  font-weight: 300;
  color: #e1cefc;
}

/* CARD BACKDROP */

.card-drop img {
  width: 100px;
  height: auto;
  transition: all 0.4s ease-out;
}
.card:hover > .card-drop img {
  transform: rotate(-1deg) scale3d(1.1, 1.1, 1.1);
}

#vesak-lantern {
  filter: hue-rotate(180deg);
}

/* CARD ANIMATIONS */

@keyframes floatUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatLeft {
  from {
    transform: translateX(-25px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* CARD RESPONSIVE */

@media screen and (max-width: 768px) {
  .card {
    min-height: 160px;
    padding: 8px 10px 0 12px;
  }
  .card-body {
    font-family: 'Abhaya Libre', sans-serif;
    gap: 8px;
  }
  .card-body .card-title {
    font-size: 20px;
  }
  .card-body .card-subtitle {
    font-size: 16px;
  }
  .card-drop img {
    width: 80px;
  }
}



/* NAVBAR */

.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1;
}

.navbar-brand img {
  width: 120px;
  height: auto;
}

.hamburger {
  display: block;
  cursor: pointer;
  opacity: 1;
  transition: opacity 300ms ease;
}

.hamburger-fade {
  opacity: 0;
  transform: scale(0.8);
  transform: rotateX(90deg);
}

.navbar-nav li a {
  font-size: 20px;
  text-decoration: none;
}

.navbar .dropdown-menu {
  width: 100%;
  background-color: #31373d;
  border: none;

  li a {
    color: grey;
  }
  li a:hover {
    color: #212529;
  }
}

.navbar .navbar-toggler:focus, .navbar .navbar-toggler:active {
  box-shadow: none;
}

@media screen and (max-width: 768px) {
  .navbar {
    background-color: #212529;
  }
}
