/* LESSON HERO & TITLE STYLES */

.lesson-hero {
  display: flex;
  align-items: end;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 650px;
  width: 100%;
}

.lesson-hero .grad-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: linear-gradient(to bottom, transparent, rgba(15, 15, 15, 0.7));
}

.lesson-title {
  z-index: 1;
  margin: auto auto 100px auto;
  animation: floatUp 0.8s ease-out;
}

.lesson-title .lesson-no {
  font-weight: 200;
}

.lesson-title h1 {
  font-size: 56px;
  color: white;
  text-align: center;
}


@media (max-width: 600px) {
  .lesson-title {
    padding: 0 30px;
  }
  .lesson-title h1 {
    font-size: 2.5rem;
  }
}


@keyframes floatUp {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}