/* LESSON LISTS STYLES */

.lesson-ul, .lesson-ol {
  padding: 10px 0;
}

.lesson-ul li, .lesson-ol li {
  padding: 10px 0;
  font-family: 'Noto Sans Sinhala', sans-serif;
}

.lesson-inline-ul {
  padding: 0px 0;
}

.lesson-inline-ul li {
  padding: 5px 0;
}

@media (max-width: 600px) {
  .lesson-ul, .lesson-ol {
    font-size: 16px;
  }
}